body{									
		background-image: url(image/BG2.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow:hidden;

}
.labelpourcentage{
	
}

/*------------------------------------------------------------------------------*/

.interfacePerso{
		width: 95%;
		
		display: flex;
			text-align: center;

}
.infoperso{
	border: 2px solid black;
	border-radius:5px;
	background-color: rgba(0,0,0,0.5);
}


.personnage{
		margin : 0 auto 0 auto;
		border: 0px;
		color: white;
}


.imgPerso{
		width:250px;
		height:250px;
}

.buttonAction{
		border-radius: 40%;
		/*display: none;*/

}
.imgaction{
		width:30px;
		height:30px;
		opacity:1;
}


#buttonPerso1{
		background-color: rgba(0,0,0,0.0);
}

#buttonPerso2{
		background-color: rgba(0,0,0,0.0);
}


#buttonPerso3{
		background-color: rgba(0,0,0,0.0);
}

#buttonPerso4{
		background-color: rgba(0,0,0,0.0);
}

/*------------------------------------------------------------------------------*/

.interfaceMonstre{
		height:70%;
		background-color: rgba(255,0,0,0.0);
		display: flex;
			text-align: center;
}
.imgMonstre{
		width:450px;
		height:450px;
}


#monstre1:hover~#infomonstre1{
		opacity: 1;

}

#infomonstre1{
		opacity: 0.0;
		color: white;
}



#monstre2:hover~#infomonstre2 {
		opacity: 1;
}

#infomonstre2{
		opacity: 0.0;
		color: white;
}


#monstre3:hover~#infomonstre3{
		opacity: 1;
}

#infomonstre3{
		opacity: 0.0;
		color: white;
}



#buttonMonstre1{
		background-color: rgba(255,255,255,0.0);

}

#buttonMonstre2{
		background-color: rgba(255,255,255,0.0);
}

#buttonMonstre3{
		background-color: rgba(255,255,255,0.0);
}

.pourcentagevie{

 background-color: green;
}

/*------------------------------------------------------------------------------*/


#findutour{
  width:10%;
  height: 10%;
    position:absolute;
    bottom:50%;
    right:0%;

}










