body{									
		background-image: url(image/BG2.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow:hidden;

}

button:active {
	position:relative;
	top:3px;
}


/*------------------------------------------------------------------------------*/

.interfacePerso{
		width: 95%;
		
		display: flex;
			text-align: center;

}
.infoperso{
	border: 2px solid black;
	border-radius:5px;
	background-color: rgba(0,0,0,0.5);
}


.personnage{
		margin : 0 auto 0 auto;
		border: 0px;
		color: white;
}


.imgPerso{
		width:200px;
		height:200px;
}

#menuperso1{
	display: none;												/*masque l'element */
}
#menuperso2{
	display: none;												/*masque l'element */
}
#menuperso3{
	display: none;												/*masque l'element */
}
#menuperso4{
	display: none;												/*masque l'element */
}



.boutonAttaque{
		border-radius: 40%;
		

}
.boutonDefense{
		border-radius: 40%;
	

}
.boutonSpecial{
		border-radius: 40%;


}
.imgaction{
		width:30px;
		height:30px;
		opacity:1;
}


#boutonPerso1{
		background-color: rgba(0,0,0,0.0);
}

#boutonPerso2{
		background-color: rgba(0,0,0,0.0);
}


#boutonPerso3{
		background-color: rgba(0,0,0,0.0);
}

#boutonPerso4{
		background-color: rgba(0,0,0,0.0);
}

#boutonspecialperso1:hover~#infospeperso1{
		opacity: 1;

}
#infospeperso1{
		opacity: 0.0;
		color: white;
		font-weight: 900;
		display: flex;
			flex-direction:column ;
}
#boutonspecialperso2:hover~#infospeperso2{
		opacity: 1;

}
#infospeperso2{
		opacity: 0.0;
		color: white;
		font-weight: 900;
		display: flex;
			flex-direction:column ;
}
#boutonspecialperso3:hover~#infospeperso3{
		opacity: 1;

}
#infospeperso3{
		opacity: 0.0;
		color: white;
		font-weight: 900;
		display: flex;
			flex-direction:column ;
}
#boutonspecialperso4:hover~#infospeperso4{
		opacity: 1;

}
#infospeperso4{
		opacity: 0.0;
		color: white;
		font-weight: 900;
		display: flex;
			flex-direction:column ;
}

/*------------------------------------------------------------------------------*/

.interfaceMonstre{
	
		height:0%;
		background-color: rgba(255,0,0,0.0);
		display: flex;
			text-align: center;
}
.imgMonstre{
		width:400px;
		height:400px;
}


#monstre1:hover~#infomonstre1{
		opacity: 1;

}

#infomonstre1{
		opacity: 0.0;
		color: white;
}



#monstre2:hover~#infomonstre2 {
		opacity: 1;
}

#infomonstre2{
		opacity: 0.0;
		color: white;
}


#monstre3:hover~#infomonstre3{
		opacity: 1;
}

#infomonstre3{
		opacity: 0.0;
		color: white;
}



#boutonMonstre1{
		background-color: rgba(255,255,255,0.0);

}

#boutonMonstre2{
		background-color: rgba(255,255,255,0.0);
}

#boutonMonstre3{
		background-color: rgba(255,255,255,0.0);
}

.pourcentagevie{

 background-color: green;
}

/*------------------------------------------------------------------------------*/


#findutour{
  width:5%;
  height: 5%;
    position:relative;
    left:95%;

}

#interfacegagne{
	display: none;
}
#interfaceperdu{
	display: none;
			
}
.interfacevictoiredefaite{
		display: flex;
			justify-content:center;
			align-items: center ;
			align-self: center ;		
		position: absolute;
			left: 30%;
			right:30%;
			top: 30%;
			bottom: 30%;
			
		text-align: center;	
		color: white;
		
		
		background-color:black;
		box-shadow: 3px 3px 10px #000000;
		border-radius:5px;
}







