body{									
		background-image: url(image/BG2.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow:hidden;

}

button:active {
	position:relative;
	top:3px;
}

.labelpourcentage{
	
}

/*------------------------------------------------------------------------------*/

.interfacePerso{
		width: 95%;
		
		display: flex;
			text-align: center;

}
.infoperso{
	border: 2px solid black;
	border-radius:5px;
	background-color: rgba(0,0,0,0.5);
}


.personnage{
		margin : 0 auto 0 auto;
		border: 0px;
		color: white;
}


.imgPerso{
		width:200px;
		height:200px;
}

.boutonAction{
		border-radius: 40%;
		/*display: none;*/												/*masque l'element */

}
.imgaction{
		width:30px;
		height:30px;
		opacity:1;
}


#boutonPerso1{
		background-color: rgba(0,0,0,0.0);
}

#boutonPerso2{
		background-color: rgba(0,0,0,0.0);
}


#boutonPerso3{
		background-color: rgba(0,0,0,0.0);
}

#boutonPerso4{
		background-color: rgba(0,0,0,0.0);
}

/*------------------------------------------------------------------------------*/

.interfaceMonstre{
		height:70%;
		background-color: rgba(255,0,0,0.0);
		display: flex;
			text-align: center;
}
.imgMonstre{
		width:400px;
		height:400px;
}


#monstre1:hover~#infomonstre1{
		opacity: 1;

}

#infomonstre1{
		opacity: 0.0;
		color: white;
}



#monstre2:hover~#infomonstre2 {
		opacity: 1;
}

#infomonstre2{
		opacity: 0.0;
		color: white;
}


#monstre3:hover~#infomonstre3{
		opacity: 1;
}

#infomonstre3{
		opacity: 0.0;
		color: white;
}



#boutonMonstre1{
		background-color: rgba(255,255,255,0.0);

}

#boutonMonstre2{
		background-color: rgba(255,255,255,0.0);
}

#boutonMonstre3{
		background-color: rgba(255,255,255,0.0);
}

.pourcentagevie{

 background-color: green;
}

/*------------------------------------------------------------------------------*/


#findutour{
  width:5%;
  height: 5%;
    position:relative;
    left:95%;

}










